/TreemapGlyph/dist/
*.class
TreemapGlyph\build\
TreemapGlyph/build/
*.properties
*.class
TreemapGlyph/build/classes/doutorado/tese/gui/MainTeste.class
*.class
*.class
TreemapGlyph/build/classes/doutorado/tese/gui/Main$Task.class